<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="stylesheet" href="setup.css" />
  <link rel="stylesheet" href="layout.css" />
</head>
<body>
  <div class="scm-layout">
    <aside class="scm-layout__banner">
      <div>
        <div class="scm-layout__banner__top">
          <img src="http://placehold.it/970x180" alt="" />
        </div>
        <div class="scm-layout__banner__side">
          <img src="http://placehold.it/300x600" alt="" />
        </div>
      </div>
    </aside>
    <div class="scm-layout__page">
      <header class="scm-header">

      </header>
      <main class="scm-main">
        <ul>
          <li><a href="index.html">index</a></li>
          <li><a href="index-banner2x.html">index banner 2x</a></li>
          <li><a href="index-bannerless.html">index bannerless</a></li>
          <li><a href="index-bannerskin.html">index banner skin</a></li>
          <li><a href="index-full.html">index full</a></li>
        </ul>
      </main>
      <footer class="scm-footer">

      </footer>
    </div>
  </div>
</body>
</html>
