<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="stylesheet" href="setup.css" />
  <link rel="stylesheet" href="button.css" />
</head>

<body>
    <div class="scm-main">

        <div>
            <a class="scm-button">Button Base (anchor)</a>
            <button class="scm-button">Button Base (button)</button>
        </div>

        <div>
            <a class="scm-button scm-button--full">Button Full Width</a>
        </div>

        <div>
            <a class="scm-button">Button base (one line) | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa numquam reiciendis aut expedita veritatis quo sint eius amet, recusandae? Culpa, quisquam optio accusamus eius numquam! Tenetur nihil dolor eaque molestiae.</a>
        </div>

        <div>
            <a class="scm-button scm-button--multiline">Button Multiline | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa numquam reiciendis aut expedita veritatis quo sint eius amet, recusandae? Culpa, quisquam optio accusamus eius numquam! Tenetur nihil dolor eaque molestiae.</a>
        </div>

        <div>
            <a class="scm-button scm-button--small">Button Small</a>
        </div>

        <div>
            <a class="scm-button scm-button--large">Button Large</a>
        </div>

        <div>
            <a class="scm-button scm-button--primary">Button Primary</a>
        </div>

        <div>
            <a class="scm-button scm-button--accent">Button Accent</a>
        </div>

        <div>
            <a class="scm-button scm-button--accent">Button Disabled</a>
        </div>

        <div>
            <a class="scm-button scm-button--accent scm-button--small">Button Primary Small</a>
        </div>

        <div>
            <a class="scm-button scm-button--accent scm-button--large">Button Accent Large</a>
        </div>
    </div>
</body>